/*  your css code here. If applicable */
*{
	margin:0px
}
body{
	background-color:lightblue;
}
.first{
	background-color:black;
	color:white;
}

.last{
	color:red;
}

ul .fl{
	background-color:white;
	color:black;
	padding:5px;
}

ul .sl{
	background-color:gray;
	color:black;
	padding:5px;
}
ul .m{
	background-color:pink;
	color:black;
	padding:5px;
}
